<h2>Welcome to Pizza Shop!</h2>

<div class="row">
	<% @products.each do |item|%>
		<div class="col-md-3">
			<h3><%= item.title %></h3>
			<p><img src="<%= item.path_to_image %>"></p>
			<div style="height: 110px;">	
				<div><b>Price:</b> <%= item.price %> rub.</div>
				<div><b>Size:</b> <%= item.size %> cm</div>
				<div><b>Description:</b> <%= item.description %></div>
			</div>
			<button class="btn btn-success btn-sm" onClick="add_to_cart(<%= item.id %>)">Add to card</button>
			
			<button class="btn btn-danger btn-sm" onClick="remove_from_cart(<%= item.id %>)">Remove from card</button>
		
		</div>
	<% end %>
</div>
<div class="row">
	<button class="btn btn-warning" onClick="total_sc()">Total</button>
	<div><b>Total count: </b><span id="total">	</span></div>
</div>
